[Unit]
Description=NeetOs First Boot Setup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/neetos-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
